[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bcpa"]
	path = bcpa
	url = https://github.com/eligurarie/bcpa
[submodule "cyclomort"]
	path = cyclomort
	url = https://github.com/eligurarie/cyclomort
[submodule "marcher"]
	path = marcher
	url = https://github.com/eligurarie/marcher
