[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cyclomort"]
	path = cyclomort
	url = https://github.com/eligurarie/cyclomort
	shallow = true
	registered = true
